<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="com.nordicframtiden.config.SensitiveLogbackEventPreparer" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <minimumLevel>INFO</minimumLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
        <minimumEventLevel>WARN</minimumEventLevel>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SENTRY" />
    </root>
</configuration>
